'.text.bibtex':
  'Article':
    'prefix': 'article'
    'body': """
      @article{${1:link},
        author  = {},
        title   = {},
        year    = {},
        journal = {},

        series  = {},
        volume  = {},
        number  = {},
        issue   = {},
        pages   = {},
        month   = {},
        pages   = {},
        note    = {}
      }
    """
  'Book':
    'prefix': 'book'
    'body': """
      @book{${1:link},
        author    = {},
        title     = {},
        year      = {},

        volume    = {},
        edition   = {},
        series    = {},
        number    = {},
        month     = {},
        publisher = {},
        note      = {},
        isbn      = {}
      }
    """
  'Multi-volume book':
    'prefix': 'mvbook'
    'body': """
      @mvbook{${1:link},
        author    = {},
        title     = {},
        subtitle  = {},
        publisher = {},
        year      = {},
        volume    = {},
        series    = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {},
        isbn      = {}
      }
    """
  'Booklet':
    'prefix': 'booklet'
    'body': """
      @booklet{${1:link},
        title        = {},
        author       = {},
        howpublished = {},
        address      = {},
        month        = {},
        year         = {},
        note         = {}
      }
    """
  'Conference':
    'prefix': 'conference'
    'body': """
      @conference{${1:link},
        author       = {},
        title        = {},
        booktitle    = {},
        year         = {},
        editor       = {},
        volume       = {},
        series       = {},
        pages        = {},
        address      = {},
        month        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Inbook':
    'prefix': 'inbook'
    'body': """
      @inbook{${1:link},
        author    = {},
        title     = {},
        chapter   = {},
        pages     = {},
        publisher = {},
        year      = {},
        volume    = {},
        series    = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {}
      }
    """
  'Book in Book':
    'prefix': 'bookinbook'
    'body': """
      @bookinbook{${1:link},
        author    = {},
        title     = {},
        chapter   = {},
        pages     = {},
        publisher = {},
        year      = {},
        volume    = {},
        series    = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {}
      }
    """
  'Supplemental material in book':
    'prefix': 'suppbook'
    'body': """
      @suppbook{${1:link},
        author    = {},
        title     = {},
        chapter   = {},
        pages     = {},
        publisher = {},
        year      = {},
        volume    = {},
        series    = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {}
      }
    """
  'Collection':
    'prefix': 'collection'
    'body': """
      @collection{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        publisher = {},
        year      = {},
        editor    = {},
        volume    = {},
        series    = {},
        chapter   = {},
        pages     = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {}
      }
    """
    'In collection':
      'prefix': 'incollection'
      'body': """
        @incollection{${1:link},
          editor    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
    'Multi-volume Collection':
      'prefix': 'mvcollection'
      'body': """
        @mvcollection{${1:link},
          author    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
    'Supplemental material in collection':
      'prefix': 'suppcollection'
      'body': """
        @suppcollection{${1:link},
          author    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
  'Manual':
    'prefix':'manual'
    'body': """
      @manual{${1:link},
        title        = {},
        author       = {},
        organization = {},
        address      = {},
        edition      = {},
        month        = {},
        year         = {},
        note         = {}
      }
    """
    'Thesis':
      'prefix': 'thesis'
      'body': """
        @thesis{${1:link},
          author  = {},
          title   = {},
          school  = {},
          year    = {},
          address = {},
          month   = {},
          note    = {}
        }
      """
  'Masterthesis':
    'prefix': 'masterthesis'
    'body': """
      @mastersthesis{${1:link},
        author  = {},
        title   = {},
        school  = {},
        year    = {},
        address = {},
        month   = {},
        note    = {}
      }
    """
  'Miscellaneous':
    'prefix': 'misc'
    'body': """
      @misc{${1:link},
        author       = {},
        title        = {},
        howpublished = {},
        month        = {},
        year         = {},
        note         = {}
      }
    """
  'Online resource':
    'prefix': 'online'
    'body': """
      @online{${1:link},
        author       = {},
        title        = {},
        subtitle     = {},
        organization = {},
        month        = {},
        year         = {},
        month        = {},
        note         = {},
        url          = {},
        urldate      = {}
      }
    """
  'Patent':
    'prefix': 'patent'
    'body': """
      @patent{${1:link},
        author       = {},
        title        = {},
        number       = {},
        year         = {},

        holder       = {},
        note         = {}
      }
    """
  'Periodical':
    'prefix': 'periodical'
    'body': """
      @periodical{${1:link},
        editor       = {},
        title        = {},
        year         = {},
        series       = {},
        volume       = {},
        number       = {},
        issue        = {},
        date         = {},
        note         = {},
        doi          = {}
      }
    """
  'Supplemental material in Periodical':
    'prefix': 'suppperiodical'
    'body': """
      @suppperiodical{${1:link},
        editor       = {},
        title        = {},
        year         = {},
        series       = {},
        volume       = {},
        number       = {},
        issue        = {},
        date         = {},
        note         = {},
        doi          = {}
      }
    """
  'Phd Thesis':
    'prefix': 'phdthesis'
    'body': """
      @phdthesis{${1:link},
        author  = {},
        title   = {},
        school  = {},
        year    = {},
        address = {},
        month   = {},
        note    = {}
      }
    """
  'Proceedings':
    'prefix': 'proceedings'
    'body': """
      @proceedings{${1:link},
        title        = {},
        year         = {},
        editor       = {},
        volume       = {},
        series       = {},
        address      = {},
        month        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Multi-volume proceedings':
    'prefix': 'mvproceedings'
    'body': """
      @mvproceedings{${1:link},
        title        = {},
        year         = {},
        editor       = {},
        volume       = {},
        series       = {},
        address      = {},
        month        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Article in conference proceeding':
    'prefix': 'inproceedings'
    'body': """
      @inproceedings{${1:link},
        author       = {},
        title        = {},
        booktitle    = {},
        year         = {},
      }
    """
  'Technical Report':
    'prefix': 'techreport'
    'body': """
      @techreport{${1:link},
        author       = {},
        title        = {},
        institution  = {},
        year         = {},
        number       = {},
        address      = {},
        month        = {},
        note         = {}
      }
    """
  'Reference':
    'prefix': 'reference'
    'body': """
      @reference{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        publisher = {},
        year      = {},
        editor    = {},
        volume    = {},
        series    = {},
        chapter   = {},
        pages     = {},
        address   = {},
        edition   = {},
        month     = {},
        note      = {}
      }
    """
    'Multi-volume Reference':
      'prefix': 'mvreference'
      'body': """
        @mvreference{${1:link},
          author    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
    'In Reference':
      'prefix': 'inreference'
      'body': """
        @inreference{${1:link},
          author    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
    'Report':
      'prefix': 'report'
      'body': """
        @reference{${1:link},
          author    = {},
          title     = {},
          booktitle = {},
          publisher = {},
          year      = {},
          editor    = {},
          volume    = {},
          series    = {},
          chapter   = {},
          pages     = {},
          address   = {},
          edition   = {},
          month     = {},
          note      = {}
        }
      """
  'Unpublished':
    'prefix': 'unpublished'
    'body': """
      @unpublished{${1:link},
        author  = {},
        title   = {},
        note    = {},
        month   = {},
        year    = {}
      }
    """
