'.text.bibtex':
  'Article':
    'prefix': 'article'
    'body': """
      @article{${1:link},
        author  = {},
        title   = {},
        year    = {},
        journal = {},

        series  = {},
        volume  = {},
        number  = {},
        issue   = {},
        pages   = {},
        month   = {},
        pages   = {},
        note    = {}
      }
    """
  'Book':
    'prefix': 'book'
    'body': """
      @book{${1:link},
        author    = {},
        title     = {},
        year      = {},

        volume    = {},
        edition   = {},
        series    = {},
        number    = {},
        publisher = {},
        note      = {},
        isbn      = {}
      }
    """
  'Multi-volume book':
    'prefix': 'mvbook'
    'body': """
      @mvbook{${1:link},
        author    = {},
        title     = {},
        subtitle  = {},
        year      = {},

        edition   = {},
        volumes   = {},
        publisher = {},
        series    = {},
        number    = {},
        note      = {},
        isbn      = {}
      }
    """
  'Inbook':
    'prefix': 'inbook'
    'body': """
      @inbook{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        year      = {},

        bookauthor= {},
        subtitle  = {},
        volumes   = {},
        volume    = {},
        edition   = {},
        series    = {},
        number    = {},
        publisher = {},
        note      = {},
        isbn      = {}
      }
    """
  'Book in Book':
    'prefix': 'bookinbook'
    'body': """
      @bookinbook{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        year      = {},

        bookauthor= {},
        subtitle  = {},
        volumes   = {},
        volume    = {},
        edition   = {},
        series    = {},
        number    = {},
        publisher = {},
        note      = {},
        isbn      = {}
      }
    """
  'Supplemental material in book':
    'prefix': 'suppbook'
    'body': """
      @suppbook{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        year      = {},

        bookauthor= {},
        subtitle  = {},
        volumes   = {},
        volume    = {},
        edition   = {},
        series    = {},
        number    = {},
        publisher = {},
        note      = {},
        isbn      = {}
      }
    """
  'Booklet':
    'prefix': 'booklet'
    'body': """
      @booklet{${1:link},
        author       = {},
        title        = {},
        year         = {},

        howpublished = {},
        titleaddon   = {},
        url          = {},
        urldate      = {},
        note         = {}
      }
    """
  'Collection':
    'prefix': 'collection'
    'body': """
      @collection{${1:link},
        editor    = {},
        title     = {},
        year      = {},

        subtitle  = {},
        publisher = {},
        volume    = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'Multi-volume Collection':
    'prefix': 'mvcollection'
    'body': """
      @mvcollection{${1:link},
        editor    = {},
        title     = {},
        year      = {},

        subtitle  = {},
        publisher = {},
        volumes   = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'In collection':
    'prefix': 'incollection'
    'body': """
      @incollection{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        year      = {},

        editor    = {},
        subtitle  = {},
        publisher = {},
        volumes   = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'Supplemental material in collection':
    'prefix': 'suppcollection'
    'body': """
      @suppcollection{${1:link},
        editor    = {},
        title     = {},
        year      = {},

        subtitle  = {},
        publisher = {},
        volume    = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'Manual':
    'prefix':'manual'
    'body': """
      @manual{${1:link},
        author       = {},
        title        = {},
        year         = {},

        organization = {},
        edition      = {},
        type         = {},
        version      = {},
        publisher    = {},
        address      = {},
        note         = {},
        url          = {}
      }
    """
  'Miscellaneous':
    'prefix': 'misc'
    'body': """
      @misc{${1:link},
        author       = {},
        title        = {},
        year         = {},

        organization = {},
        howpublished = {},
        month        = {},
        url          = {},
        note         = {}
      }
    """
  'Online resource':
    'prefix': 'online'
    'body': """
      @online{${1:link},
        author       = {},
        title        = {},
        year         = {},
        url          = {},

        subtitle     = {},
        organization = {},
        month        = {},
        note         = {},
        urldate      = {}
      }
    """
  'Patent':
    'prefix': 'patent'
    'body': """
      @patent{${1:link},
        author       = {},
        title        = {},
        number       = {},
        year         = {},

        holder       = {},
        note         = {}
      }
    """
  'Periodical':
    'prefix': 'periodical'
    'body': """
      @periodical{${1:link},
        editor       = {},
        title        = {},
        year         = {},

        series       = {},
        volume       = {},
        number       = {},
        issue        = {},
        date         = {},
        month        = {},
        note         = {},
        doi          = {}
      }
    """
  'Supplemental material in periodical':
    'prefix': 'suppperiodical'
    'body': """
      @suppperiodical{${1:link},
        editor       = {},
        title        = {},
        year         = {},

        series       = {},
        volume       = {},
        number       = {},
        issue        = {},
        date         = {},
        month        = {},
        note         = {},
        doi          = {}
      }
    """
  'Proceedings':
    'prefix': 'proceedings'
    'body': """
      @proceedings{${1:link},
        title        = {},
        year         = {},

        editor       = {},
        volume       = {},
        series       = {},
        month        = {},
        pages        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Multi-volume proceedings':
    'prefix': 'mvproceedings'
    'body': """
      @mvproceedings{${1:link},
        title        = {},
        year         = {},

        editor       = {},
        volumes      = {},
        series       = {},
        month        = {},
        pages        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Article in conference proceeding':
    'prefix': 'inproceedings'
    'body': """
      @inproceedings{${1:link},
        author       = {},
        title        = {},
        booktitle    = {},
        year         = {},

        editor       = {},
        volume       = {},
        series       = {},
        month        = {},
        pages        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Reference':
    'prefix': 'reference'
    'body': """
      @reference{${1:link},
        editor    = {},
        title     = {},
        year      = {},

        subtitle  = {},
        publisher = {},
        volume    = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'Multi-volume Reference':
    'prefix': 'mvreference'
    'body': """
      @mvreference{${1:link},
        editor    = {},
        title     = {},
        year      = {},

        subtitle  = {},
        publisher = {},
        volumes   = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'In Reference':
    'prefix': 'inreference'
    'body': """
      @inreference{${1:link},
        author    = {},
        title     = {},
        booktitle = {},
        year      = {},

        editor    = {},
        subtitle  = {},
        publisher = {},
        volumes   = {},
        part      = {},
        series    = {},
        number    = {},
        chapter   = {},
        pages     = {},
        note      = {},
        edition   = {}
      }
    """
  'Report':
    'prefix': 'report'
    'body': """
      @report{${1:link},
        author      = {},
        title       = {},
        type        = {},
        institution = {},
        year        = {},

        chapter     = {},
        pages       = {},
        month       = {},
        note        = {}
      }
    """
  'Thesis':
    'prefix': 'thesis'
    'body': """
      @thesis{${1:link},
        author      = {},
        title       = {},
        type        = {},
        institution = {},
        year        = {},

        address     = {},
        month       = {},
        note        = {}
      }
    """
  'Unpublished':
    'prefix': 'unpublished'
    'body': """
      @unpublished{${1:link},
        author  = {},
        title   = {},
        year    = {},

        month   = {},
        note    = {}
      }
    """
  'Conference':
    'prefix': 'conference'
    'body': """
      @conference{${1:link},
        author       = {},
        title        = {},
        booktitle    = {},
        year         = {},

        editor       = {},
        volume       = {},
        series       = {},
        month        = {},
        pages        = {},
        organization = {},
        publisher    = {},
        note         = {}
      }
    """
  'Electronic resource':
    'prefix': 'electronic'
    'body': """
      @electronic{${1:link},
        author       = {},
        title        = {},
        year         = {},
        url          = {},

        subtitle     = {},
        organization = {},
        month        = {},
        note         = {},
        urldate      = {}
      }
    """
  'Masterthesis':
    'prefix': 'masterthesis'
    'body': """
      @mastersthesis{${1:link},
        author      = {},
        title       = {},
        institution = {},
        year        = {},

        address     = {},
        month       = {},
        note        = {}
      }
    """
  'Phd Thesis':
    'prefix': 'phdthesis'
    'body': """
      @phdthesis{${1:link},
        author      = {},
        title       = {},
        institution = {},
        year        = {},

        address     = {},
        month       = {},
        note        = {}
      }
    """
  'Technical Report':
    'prefix': 'techreport'
    'body': """
      @techreport{${1:link},
        author      = {},
        title       = {},
        type        = {},
        institution = {},
        year        = {},

        chapter     = {},
        pages       = {},
        month       = {},
        note        = {}
      }
    """
  'Online resource(2)':
    'prefix': 'www'
    'body': """
      @www{${1:link},
        author       = {},
        title        = {},
        year         = {},
        url          = {},

        subtitle     = {},
        organization = {},
        month        = {},
        note         = {},
        urldate      = {}
      }
    """
